@model ClothesListViewModel
@{
    ViewData["Title"] = Model.CategoryName +" "+ Model.TypeName;
}

<h2>@Model.CategoryName  -  @Model.TypeName</h2>
@if (Context.User.Claims.Any(e => e.Value == "Manager") || Context.User.Claims.Any(e => e.Value == "Admin"))
{
    <a asp-controller="Clothes" asp-action="Create" asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAnQuery()"
       asp-route-type="@Model.TypeName" asp-route-category="@Model.CategoryName">Додати новий одяг</a>
}
<div class="row">
    <div class="col-2 border-right">
        <div>
            @if (Model.Brands.Count() > 0)
            {
                <h3>Бренди</h3>
                @foreach (var brand in Model.Brands)
                {
                    @if (brand != null)
                    {
                        <form model="@brand" method="post">
                            @brand.BrandName
                            @if(brand.Checked){
                                <input type="checkbox" value="@brand.BrandId" checked />    
                            }
                                else { <input type="checkbox" value="@brand.BrandId" />}
                        </form>
                    }
                }
            }
        </div>
    </div>
    <div class="col-10 row">
        @foreach (var clothes in Model.Clothes)
        {
            <div class="col-3">

                @await (Html.PartialAsync("ClothesItem", clothes))
                @if (Context.User.Claims.Any(e => e.Value == "Manager") || Context.User.Claims.Any(e => e.Value == "Admin"))
                {
                    <form asp-action="Delete" asp-controller="Clothes" asp-route-id="@clothes.Id" asp-route-returnUrl="@Context.Request.PathAnQuery()">
                        <button type="submit" class="btn btn-danger">Вилучити</button>
                    </form>
                }
            </div>
        }
    </div>
</div>