@model EditViewModel<ClothesViewModel>

@{
    ViewData["Title"] = @Model.Entity.Name;
}
<h4>@Model.Entity.Name</h4>
<hr />
<div class="row">

    <div class="col-3">
        <img src="~/uploads/clothes/@Model.Entity.Image" />
    </div>
    <div class="col-6">
        <p>@Model.Entity.Description</p>
        <p>@Model.Entity.Cost.ToString("c")</p>
    </div>
    <div class="col-6">
        @if (Model.Entity.Sizes.Count() > 0) { 
        <form asp-action="AddToCart"
          asp-controller="Cart" method="Post">
            <p>Оберіть розмір для замовлення: </p>
            @Html.DropDownList("sizeId", new SelectList(Model.Entity.Sizes, "SizeId", "SizeMark"))
            <input type="hidden" asp-for="Entity.Id" />
            <input type="hidden" asp-for="ReturnUrl"/>
        </form>
        }
            else
            {
                <h6>Цього товару немаэ на складі!</h6>
            }
    </div>
    <div>
        @if (Context.CheckManagerPrivilegies()) { 
            <a asp-action="Edit" asp-route-id="@Model.Entity.Id">Edit |</a>
        }
        <a href="@Model.ReturnUrl">Back</a>
    </div>
