@model IEnumerable<Order>

@{
    ViewData["Title"] = "Замовлення";
}

<table class="table table-bordered table-striped">
    <tr>
        <th>Номер телефону</th>
        <th>Поштовий код</th>
        <th>Статус</th>
        <th>Id менеджера</th>
        <th colspan="2">Інфо</th>
    </tr>
    @foreach (var o in Model.ToList().OrderByDescending(e=>e.DateOfOrder))
    {
        <tr>
            <td>
                @o.Client.PhoneNumber
            </td>
            <td>
                @o.PostalCode
            </td>
            <td>
                @if(o.Shiped)
                {
                    <p>Відправлено</p>
                }
                else if(o.Canceled)
                {
                    <p>Відмінено</p>
                }
                else
                {
                    <p>У обробці</p>
                }
            </td>
            <td>
                @o.Manager?.Id
            </td>
            <th>Одяг</th>
            <th>Кількість</th>
        </tr>
        @foreach (var line in o.ClothesOrders)
        {
            <tr>
                <td colspan="3"></td>
                <td>@line.ClothesUnit.Clothes.Name</td>
                <td>@line.Count</td>
            </tr>
        }
    }
</table>
