
@model ManagerIndexViewModel 

@{
    ViewData["Title"] = "Замовлення";
}

<h1>Замовлення для обробки</h1>
<a asp-action="List" asp-controller="Order">Подивитися перелік всіх замовлень...</a>
@if(Model.Orders.Count()>0){
<table class="table table-bordered table-striped">
        <tr>
            <th>Ім'я</th>
            <th>Дата</th>
            <th>
                Телефон
            </th>
            <th>
                Ід клієнта
                </th>
            <th colspan="2">Тіло</th>
            <th></th>
        </tr>
        @foreach (var o in Model.Orders)
        {
            <tr>
                <td>
                    @o.Client.Name
                </td>
                <td>
                    @o.DateOfOrder
                </td>
                <td>
                    @o.Client.PhoneNumber
                </td>
                <td>
                    @o.Client.Id
                </td>
                <th>Одяг</th>
                <th>Кількість</th>
                <td>
                @if (o.Manager != null)
                {
                    <form style="margin-bottom:.3em;" asp-controller="Order" asp-action="MarkShipped" method="post">
                        <input type="hidden" name="id" value="@o.Id" />

                        <button type="submit" class="btn btn-sm btn-danger w-100">
                            Підтверджено
                        </button>
                    </form>
                                        <form  asp-action="MarkCanceled" asp-controller="Order" method="post">
                        <input type="hidden" name="id" value="@o.Id"/>
                        <button type="submit" class="btn btn-sm btn-secondary w-100">
                            Відмінити
                        </button>
                    </form>
                }
                else {
                    <form style="margin-bottom:.3em;" asp-controller="Order" asp-action="MarkProcessed" method="post">
                        <input type="hidden" name="id" value="@o.Id"/>
                        <button type="submit" class="btn btn-sm btn-primary w-100">
                            Обробити
                        </button>
                    </form>}
                </td>
            </tr>
            @foreach (var line in o.ClothesOrders)
            {
                <tr>
                    <td colspan="4"></td>
                    <td>@line.ClothesUnit.Clothes.Name  - @line.ClothesUnit.Size.Mark</td>
                    <td>@line.Count</td>
                    <td></td>
                </tr>
            }
        }
    </table>
}
else
{
    <h3>Немае не оброблених замовлень!</h3>
}